export AWS_PROFILE="example-profile"     # https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html
export AWS_ASSUME_ROLE="example-rol-arn" # Optional (Set it to null in case you work with user credentials)
export ROUTE_53_DOMAIN="dr.example.com"
export ROUTE_53_ZONE_ID="Z041787_EXAMPLE"
export MY_DEMO_ID="ex"
## For concreteness, will refer to these as east and west, though in principle could be any two regions:
export EAST_REGION="us-east-1"
export WEST_REGION="us-west-1"
## Number of ManagedMaster. Start with a small number. Optionally, you can increase it
export MC_COUNT=5
## Number of Nodes to Scale | Check max and min from infra/cluster.yaml
export SCALE=15
## Debugging
export DEBUG=${DEBUG:-false}
